<html>

<head>
    <title>My Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/core.css">
</head>

<body>
    <input type="text" id="psid" value="<%= user.psid %>" hidden />
    <div class="container flexed v-center full-height">
        <div class="inner">
            <div class="profile-container mb-25">
                <img src="<%= user.profile %>" class="img-responsive img-profile">
            </div>
            <h2 class="text-centered mb-25">Hello <%= user.name %>!</h2>
            <p class="text-muted text-centered">This page details everything the app knows about you. To remove yourself completely from the app, simply click on the button below and delete the conversation in Messenger. (Note: This will remove you from all parties that haven't started yet.)</p>
            <div class="weui-btn-area">
                <button class="weui-btn weui-btn_warn" id="deleteUser">Delete Me From The App</button>
                <button class="weui-btn weui-btn_default" id="close">Close</button>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'Messenger'));

        window.extAsyncInit = () => {
            document.getElementById('close').addEventListener('click', () => {
                MessengerExtensions.requestCloseBrowser(function success() {
                    console.log("Webview closing");
                }, function error(err) {
                    console.log(err);
                });
            });
            $('#deleteUser').click(() => {
                if (confirm('Are you sure you want to delete your profile? This will remove you from all parties that haven\'t started yet.')) {
                    const content = {
                        action: 'DELETE_USER',
                        psid: $('#psid').val()
                    };
                    $.ajax('/partymanagement', {
                        contentType: 'application/json',
                        data: content,
                        type: 'GET'
                    })
                    MessengerExtensions.requestCloseBrowser(function success() {
                        console.log("Webview closing");
                    }, function error(err) {
                        console.log(err);
                    });
                } 
            });
        };
    </script>
</body>

</html>