body {
    background: #eee;
}

.party-name {
    font-size: 1.8em;
}

.full-height {
    height: 100%;
}

.flexed {
    display: flex;
}

.inner {
    width: 80%;
    margin: 0 auto;
}

.v-center {
    justify-content: center;
    align-items: center;
}

.text-centered {
    text-align: center;
}

.img-responsive_50 {
    max-width: 50%;
}

.img-profile {
    border-radius: 50%;
}

.mb-25 {
    margin-bottom: 25px;
}

.create_by {
    display: flex;
    justify-content: center;
    align-items: center;
}
.create_by img {
    width: 20px;
    margin-right: 5px;
}

.participants-list {
    list-style: none;
    padding-left: 0;
}

.participants-list li{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 5px;
}
.participants-list img {
    width: 25px;
    margin-right: 5px;
}

.create_by p {
    font-size: 1em;
}

.hidden {
    display: none;
}